@import url("http://fonts.cdnfonts.com/css/clarika-geometric");

body {
    font-family: 'Clarika Geometric';
}
.contactsimg {
    background: url("../../assets/contact.png");
}

.formshadow {
    box-shadow: 0px 49px 71px rgba(0, 0, 0, 0.08), 0px 4px 28px -4px rgba(0, 0, 0, 0.04);
}

form {
   padding: 100px 50px 0 50px; 
}